
    
    <!-- 版權申明 -->
    <footer class="py64 py32-sm">
    <nav class="container section-line px12">
        <div class="mb24 d-f aic jcsb block">
            <a href="index.html">
                <img src="../assets/images/logo.svg" alt="logo" class="logo">
            </a>
            <ul class="d-f aic block px12">
                <li ><a href="pd-list.html" class="py12 mr40">商品列表</a></li>
                <li><a href="index.html" class="py12">品牌故事</a></li>
        </ul>
        </div>
    </nav>
    <div class="copyright text-neutral-600 text-sm mt32">
        <p class="mb4">Copyright ©2025 URBNSTYLE</p>
        <p>All Rights Reserved.</p>
    </div>
    </footer>