

    <!-- 表頭選單 -->
    <nav class="container col-sm py16 d-f aic jcsb py12-sm">
        <ul class="d-f aic">
            <li class="mr48"><a href="index.html">
                <img src="../assets/images/logo.svg" alt="logo"></a>
            </li>
            <li ><a href="pd-list.html" class="d-sm-n py12 mr40">商品列表</a></li>
            <li><a href="#" class="d-sm-n py12">品牌故事</a></li>
        </ul>
        <a href="#"><i class="bi bi-person p12"></i></a>
    </nav>