img {
  display: block;
}

.kv {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner.png?raw=true");
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 200px;
}

.banner {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-co-branded.png?raw=true");
  height: 470px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.x {
  font-family: EN;
}

.star {
  position: absolute;
  top: -33px;
  left: -98px;
}

.sparkle {
  position: absolute;
  bottom: 16px;
  right: -60px;
}
