<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- section 1 KV -->
    <section class="kv d-f aic">
      <div>
        <h1 class="display1 text-white mb16">URBNSTEP</h1>
        <h3 class="text-white mb48">Your Step, Your Statement</h3>
        <button class="btn btn-primary-300">立即選購</button>
      </div>
    </section>

    <!-- section 2 新品上市 -->
    <section class="py64 container">
      <h2 class="dispaly2 mb12 text-center">New Arrival</h2>
      <h3 class="text-center mb32">新品上市</h3>
      <div class="row">
        <div class="col-6 mb40">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-1.png?raw=true"
            alt=""
            class="mb12"
          />
          <h5 class="mb4">Monoverse</h5>
          <p>NT$3,600</p>
        </div>
        <div class="col-6 mb40">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-2.png?raw=true"
            alt=""
            class="mb12"
          />
          <h5 class="mb4">PLATFORM 404</h5>
          <p>NT$2,600</p>
        </div>
        <div class="col-6 mb40">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-3.png?raw=true"
            alt=""
            class="mb12"
          />
          <h5 class="mb4">URBN Force</h5>
          <p>NT$3,200</p>
        </div>
        <div class="col-6 mb40">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-4.png?raw=true"
            alt=""
            class="mb12"
          />
          <h5 class="mb4">Mode90</h5>
          <p>NT$4,000</p>
        </div>
      </div>
    </section>

    <!-- section 3 熱銷補貨 -->
    <section class="py64 container">
      <h2 class="mb16">熱銷補貨</h2>
      <div class="row">
        <div class="col-3 position-relative">
          <span class="No1-tag">人氣 No.1</span>
          <div class="img-mask-opacity70">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true"
              alt=""
            />
          </div>
        </div>
        <div class="col-3 position-relative">
          <span class="No1-tag">人氣 No.1</span>
          <div class="img-mask-opacity70">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true"
              alt=""
            />
          </div>
        </div>
        <div class="col-3 position-relative">
          <span class="No1-tag">人氣 No.1</span>
          <div class="img-mask-opacity70">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true"
              alt=""
            />
          </div>
        </div>
        <div class="col-3 position-relative">
          <span class="No1-tag">人氣 No.1</span>
          <div class="img-mask-opacity70">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <!-- section 4 跨界聯名，限量發售 -->
    <section class="py48 position-relative">
      <div class="banner pt100 d-f jcc">
        <div class="section4-content position-relative d-f f-d-c aic">
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2bf9ce835c6465f064ead0300f32c1e27f630580/2025-week3-4/star.svg"
            alt=""
            class="star"
          />
          <!-- URBNSTEP x Kevin Chen -->
          <div class="d-f mb16">
            <h2 class="display2 text-white mr24">URBNSTEP</h2>
            <h1 class="text-primery-300 mr24 x">x</h1>
            <h2 class="display2 text-white">Kevin Chen</h2>
          </div>
          <h2 class="text-white mb32">跨界聯名，限量發售</h2>
          <h5 class="text-neutral-500 mb48">
            新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！
          </h5>
          <button class="btn btn-primary-300">立即選購</button>
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2bf9ce835c6465f064ead0300f32c1e27f630580/2025-week3-4/sparkle.svg"
            alt=""
            class="sparkle"
          />
        </div>
      </div>
      <div class="d-f jcc dots">
        <span class="slideDot mr8"></span>
        <span class="dot mr8"></span>
        <span class="dot mr8"></span>
        <span class="dot mr8"></span>
        <span class="dot"></span>
      </div>
    </section>

    <!-- section 5 依系列選購 -->
    <section class="py64 container">
      <h2 class="mb16">依系列選購</h2>
      <div class="row">
        <div class="col-3">
          <div class="img-mask-black40 position-relative">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true"
              alt=""
            />
            <div class="series-text text-white d-f f-d-c jcc aic">
              <h3 class="mb8">URBN RUNNER</h3>
              <h4>慢跑系列</h4>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="img-mask-black40 position-relative">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/product-11.png?raw=true"
              alt=""
            />
            <div class="series-text text-white d-f f-d-c jcc aic">
              <h3 class="mb8">STREETMODE</h3>
              <h4>滑板系列</h4>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="img-mask-black40 position-relative">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true"
              alt=""
            />
            <div class="series-text text-white d-f f-d-c jcc aic">
              <h3 class="mb8">CHUNK DISTRICT</h3>
              <h4>厚底系列</h4>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="img-mask-black40 position-relative">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/product-10.png?raw=true"
              alt=""
            />
            <div class="series-text text-white d-f f-d-c jcc aic">
              <h3 class="mb8">COLLAB ZONE</h3>
              <h4>聯名企劃</h4>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section 6 穿搭靈感 -->
    <section class="py64 container">
      <h2 class="mb16">穿搭靈感</h2>
      <div class="d-f column-gap8 overflow-md-x">
        <!-- 左 -->
        <div class="d-f f-d-c row-gap8 w-66 d-md-contents">
          <!-- 左上 -->
          <div class="d-f column-gap8 flex-grow-1 d-md-contents">
            <img
              src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img1.png?raw=true"
              alt=""
            />
            <img
              src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-2.png?raw=true"
              alt=""
            />
            <img
              src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-3.png?raw=true"
              alt=""
            />
            <img
              src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-4.png?raw=true"
              alt=""
            />
          </div>
          <!-- 左下 -->
          <div class="d-f column-gap8 d-md-contents">
            <img
              src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-6.png?raw=true"
              alt=""
            />
            <div class="d-f row-gap8 f-d-c d-md-contents">
              <div class="d-f column-gap8 d-md-contents">
                <img
                  src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-7.png?raw=true"
                  alt=""
                />
                <img
                  src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-8.png?raw=true"
                  alt=""
                />
              </div>
              <div class="d-f column-gap8 d-md-contents">
                <img
                  src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-9.png?raw=true"
                  alt=""
                />
                <img
                  src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-10.png?raw=true"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <!-- 右 -->
        <div class="d-f f-d-c w-33 row-gap8 d-md-contents">
          <img
            src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-5.png?raw=true"
            alt=""
          />
          <div class="d-f column-gap8 d-md-contents">
            <img
              src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-11.png?raw=true"
              alt=""
            />
            <img
              src="https://github.com/0404kai/2025-layout-week1-img/blob/main/img-12.png?raw=true"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/join'); -%> <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
